accelerate==1.10.1
diffusers==0.29.2
filelock==3.14.0
fsspec==2024.10.0
ftfy==6.3.1
huggingface-hub==0.34.4
imageio==2.9.0
numpy==1.22.4
open_clip_torch==3.1.0
packaging==21.3
pandas==2.2.2
peft==0.17.1
Pillow==9.0.1
python-dateutil==2.8.2
PyYAML==6.0
recbole==1.2.1
regex==2024.11.6
requests==2.27.1
safetensors==0.4.5
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.8.1
sentencepiece==0.2.0
tabulate==0.9.0
timm==1.0.19
tokenizers==0.22.0
torch==2.7.1+cu118
torchaudio==2.7.1+cu118
torchvision==0.22.1+cu118
tqdm==4.63.0
transformers==4.56.1
triton==3.3.1
